.page-container {
  padding: 20px;
  background: #f7f7f7;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header-card {
  background: #635BFF;
  padding: 15px 25px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-btn {
  background: white;
  color: #635BFF;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

/* TABLE CARD */
.table-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.table-title {
  padding: 12px 20px;
  font-weight: 600;
  border-bottom: 1px solid #ececec;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr:first-child {
  background: #fafafa;
  font-weight: 600;
}

th,
td {
  padding: 10px 20px;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: flex-start;   /* move toward left */
  align-items: flex-start;        /* move toward top */
  padding-left: 400px;            /* adjust left spacing */
  padding-top: 130px;              /* adjust top spacing */
  z-index: 1000;
}


/* MODAL BOX */
.modal-box {
  width: 900px;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.2);
}

/* TITLE */
.modal-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* CONTENT TWO COLUMNS */
.modal-content {
  display: flex;
  gap: 25px;
}

/* LEFT FORM */
.left-form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.left-form label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.left-form input,
.left-form select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

/* RIGHT MAP SECTION */
.map-box {
  width: 60%;

}

.map-box h3 {
  margin-bottom: 30px;
  margin-top: -40px;
  font-weight: 600;
  text-align: center;
}

.map-container {
  width: 100%;
  height: 360px;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12px;
}

.map-error {
  text-align: center;
  color: #666;
}

.map-error span {
  font-size: 40px;
}

/* FOOTER */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 20px;
}

.cancel-btn {
  background: #777;
  color: white;
  padding: 8px 18px;
  border-radius: 6px;
  border: none;
}

.save-btn {
  background: #0056ff;
  color: white;
  padding: 8px 18px;
  border-radius: 6px;
  border: none;
}
