.page-container {
  padding: 20px;
  background: #f7f7f7;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* HEADER BAR */
.header-card {
  background: #635BFF;
  padding: 15px 25px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-btn {
  background: white;
  color: #635BFF;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

/* TABLE CONTAINER */
.table-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.table-title {
  padding: 12px 20px;
  font-weight: 600;
  border-bottom: 1px solid #ececec;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr:first-child {
  background: #fafafa;
  font-weight: 600;
}

th,
td {
  padding: 10px 20px;
  text-align: left;
}

/* Input + Select Styling */
input,
select {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
  font-size: 14px;
}
