.dashboard-page {
  padding: 20px;
  background: #f7f7f7;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

/* HEADER */
.dashboard-header {
  background: #635BFF;
  padding: 20px 25px;
  border-radius: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-btn {
  background: white;
  color: #635BFF;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

/* STATS CARDS */
.stats-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.stat-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.stat-card h1 {
  margin: 0;
  font-size: 32px;
}

.stat-card p {
  margin: 5px 0;
  color: #333;
}

.stat-card span {
  font-size: 12px;
  color: gray;
}

/* ACTIVE PROJECT LIST */
.active-card {
  margin-top: 25px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  text-align: left;
  padding-bottom: 10px;
  color: #555;
}

td {
  padding: 14px 0;
  border-bottom: 1px solid #eee;
}

.icon {
  margin-right: 8px;
}

/* TAGS */
.tag {
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
}

.tag.normal {
  background: #eee;
  color: #333;
}

.tag.low {
  background: #b7ebff;
  color: #0077aa;
}

/* Members */
.members img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: -8px;
  border: 2px solid white;
}

/* PROGRESS BAR */
.progress {
  background: #e4e4e4;
  width: 100%;
  height: 6px;
  border-radius: 6px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 4px;
}

.progress div {
  height: 100%;
  background: #3b82f6;
}

.percent {
  font-size: 12px;
  color: #555;
}
